/* styles.css */
@font-face{
    font-family: "Louis-George";
    src:url('fuentes/louis_george_cafe/Louis\ George\ Cafe.ttf'),
    url('fuentes/louis_george_cafe/Louis\ George\ Cafe\ Bold.ttf'),
    url('fuentes/louis_george_cafe/Louis\ George\ Cafe\ Bold\ Italic.ttf'),
    url('fuentes/louis_george_cafe/Louis\ George\ Cafe\ Light.ttf'),
    url('fuentes/louis_george_cafe/Louis\ George\ Cafe\ Light\ Italic.ttf'),
    url('fuentes/louis_george_cafe/Louis\ George\ Cafe\ Italic.ttf');
    font-weight: normal;
}

*, html {

    scroll-behavior: smooth !important;
}

body{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
}

.cursor {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s, background-color 0.2s;
    display: none;
}

.cursor::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 800px;
    background: radial-gradient(rgb(0, 42, 255), rgba(57, 132, 255, 0) 80%);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.1;
    transition: opacity 0s;
}


body p{
    color: #c5d2ed;
}

.fixed-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #c5d2ed;
    height: 100vh;
    position: fixed;
    width: 50%;
    padding: 80px;
    box-sizing: border-box;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-container i{
    font-size: 30px;
    display: none;
}

.name-container

.typing-text {
    margin-top: 5px;
    min-width: 280px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}

#span-profile {
    position: relative;
}

#span-profile::before {
    content: "Full Stack Developer.";
    color: #c5d2ed;
    animation: words 20s infinite;
}

#span-profile::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 5px);
    border-left: 3px solid rgba(15, 23, 42, 1);
    right: 0px;
    --tw-bg-opacity: 1;
    background: rgb(15 23 42/var(--tw-bg-opacity));
    animation: cur 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cur {
    to {
        border-left-color: #c5d2ed;
    }
}

@keyframes words {
    0%, 20% {
        content: "Full Stack Developer.";
    }
    21%, 40% {
        content: "VFX Pipeline Developer.";
    }
    41%, 60% {
        content: "Web Developer.";
    }
    61%, 80% {
        content: "Software Developer.";
    }
    81%, 100% {
        content: "Technology Enthusiast.";
    }
}

@keyframes typing {
    10%, 15%,
    30%, 35%,
    50%, 55%,
    70%, 75%,
    90%, 95% {
        width: 0;
    }
    5%, 20%,
    25%, 40%,
    45%, 60%,
    65%, 80%, 85%{
        width: 100%;
    }
}

.profile p{
    margin-top: 5px;
}

#nav-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nav-link {
    color: #c5d2ed;
    text-decoration: none;
    padding: 6px 0;
    padding-left: 45px;
    position: relative;
    width: 50%;
    transition: padding-left 0.2s, color 0.2s;
}

.nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #c5d2ed;
    transition: width 0.2s ease, background-color 0.2s;
}

.nav-link:hover::before {
    width: 60px;
    background-color: white;
}

/* .nav-link.active::before {
    width: 60px;
    background-color: white;
} */

.nav-link:hover {
    font-weight: bold;
    padding-left: 75px;
    color: white;
}

/* .nav-link.active {
    font-weight: bold;
    padding-left: 75px;
    color: white;
} */

#social {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    width: 150px;
}

#social p{
    padding-bottom: 0;
    margin-bottom: 0;
}

#social a {
    text-decoration: none;
    color: inherit;
}

.social-icon{
    font-size: 28px;
    transition: transform .2s;
}

.social-icon:hover{
    color: white;
    transform: scale(1.3);
}

.main-content {
    margin-left: 50%;
    padding: 80px 80px 80px 0;
    height: 100vh;
    overflow-y: auto;
}

main h2 {
    margin-top: 40px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-box {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: #c5d2ed;
    flex-shrink: 0;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    z-index: 0;
    filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.6));
}

.image-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
}

.image-box::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%; /* Ajusta la altura del difuminado */
    --tw-bg-opacity: 1;
    background: linear-gradient(to top, rgb(15 23 42/var(--tw-bg-opacity)), rgba(255, 255, 255, 0));
    border-radius: 50%; /* Mantiene el borde redondo */
    filter: blur(10px);
    z-index: 2; /* Coloca el efecto por encima de la imagen */
}

#about-text{
    margin: 20px 0;
    text-align: center;
}

.skills {
    --tw-bg-opacity: 1;
    background: rgb(15 23 42/var(--tw-bg-opacity));
}

.main-content h2{
    color: #c5d2ed;
    text-align: center;
    margin-top: 20px;
}

.sk-container {
    padding: 1.5rem;
    width: 100%;
    margin: auto;
    margin-top: 1rem;    
}

.sk-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    gap: 1.2rem;
}

.sk-bar{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1rem;
    transition: 0.3s ease;
    cursor: pointer;
}

.sk-bar:hover {
    box-shadow: 0 4px 10px #c5d2ed;
    transform: scale(1.03);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin-top: 0.5rem;
}

.info img{
    width: 40px;
    height: 40px;
}

.info span{
    font-size: 1rem;
    font-weight: 500;
    color: #c5d2ed;
}

.experience {
    margin-top: 20px;
}

/* .experience:hover{
    opacity: 0.5;
} */

.xp-container {
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    padding: 20px;
}

.job-title{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.job-title i {
    font-size: 12px;
    margin-left: 10px;
    transition: margin 0.2s ease;
}


.job-position{
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
}

.xp-container:hover{

    background-color: #181f30;

    .job-title {
        --tw-text-opacity: 1;
        color: rgb(94 234 212/var(--tw-text-opacity));
    }

    .job-title i{
        margin-left: 13px;
        margin-bottom: 3px;
    }

    .job-position {
        --tw-text-opacity: 1;
        color: rgb(94 234 212/var(--tw-text-opacity));
    }

}


.xp-date {
    width: 20%;
}

#show-civil-xp {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    color: #c5d2ed;
    scroll-margin-top: 100px;
    scroll-margin-bottom: 0;
}

.civil-eng-xp {
    display: block;
    overflow: hidden;
    max-height: 0;
    height: auto;
    transition: max-height 0.5s ease-in-out;
}


#show-civil-xp:after {
    content: ' ▼';
}

#show-civil-xp.active{
    color: white;
}

#show-civil-xp.active:after {
    content: ' ▲';
    color: white;
}

.show {
    display: block;
    max-height: 1800px; 
}

.project-link {
    text-decoration: none;
    color: inherit;
}

.project-img-box{
    width: 20%;
}

.project-img-box img{
    width: 100%;
    padding: 1px;
    background-color: #181f30;
    border-radius: 5px;
}

.project-box:hover{

    .project-img-box img {
        background-color: #c5d2ed;
    }
}

.job-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 20px;
}

.job-description{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.technologies {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    flex-wrap: wrap;
}

.job-skill {
    list-style: none;
    background-color: rgba(45, 212, 191, .1);;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px 10px 0 0;
    --tw-text-opacity: 1;
    color: rgb(94 234 212/var(--tw-text-opacity));
}

.job-box a {
    text-decoration: none;
    color: inherit;
}

.project {
    background: #777a92;
    padding: 20px;
    margin-bottom: 20px;
}

.view-certificate:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption, #caption-2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 20px;
}

/* Add Animation */
.modal-content, #caption, #caption-2 {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1292px){
    .fixed-header{
        padding-left: 10%;
    }

    .main-content{
        padding-right: 10%;
    }
}

@media (max-width: 1024px) {

    html, body {
        height: auto;
        overflow-y: auto;
    }

    .fixed-header {
        width: 100%;
        position: static;
        height: auto;
        padding: 40px
    }

    .name-container{
        align-items: baseline;
    }

    #menu-toggle {
        display: block;
        cursor: pointer;
    }

    #nav-container {
        margin-top: 0;
        display: flex;
        overflow: hidden;
        max-height: 0;
        height: auto;
        transition: max-height 0.5s ease-in-out;
    }

    #nav-container.open{
        padding: 0;
        display: flex;
        max-height: 1000px; 
    }

    .nav-row {
        display: flex;
        justify-content: space-between;
    }

    .nav-column{
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        margin-right: 40px;
        padding-left: 0;
    }

    .nav-link::before {
        display: none;
    }

    .nav-link:hover {
        padding-left: 0;
        font-weight: normal;
    }

    .main-content {
        margin-left: 0;
        padding: 0px 40px 40px 40px;
        height: auto;
        overflow-y:visible;
    }

    #about-text{
        text-align:left;
    }

    .xp-container {
        margin-top: 20px;
        display: flex;
        border-radius: 10px;
        padding: 10px;
    }

    .xp-date{
        width: 25%;
    }

    .project-img-box{
        width: 25%;
    }

    .job-box {
        width: 75%;
        margin-left: 20px;
    }

    .main-content h2{
        text-align: left;
    }
}

@media (max-width: 767px){

    .fixed-header {
        padding: 20px;
    }

    .main-content {
        padding: 0px 20px 20px 20px;
    }

    .modal-content {
        width: 100%;
    }

}

@media (max-width: 639px) {


    #menu-toggle {
        font-size: 26px;
    }

    .sk-container {
        padding: 0;   
    }
    
    .xp-container {
        flex-direction: column;
    }

    .xp-date {
        width: 100%;
    }

    .project-img-box {
        margin-top: 20px;
        width: 40%;
    }

    .job-box {
        margin-left: 0px;
        width: 100%;
    }

    .project-box{
        display: flex;
        flex-direction: column-reverse;

    }

}